---
const { title, info } = Astro.props;
---

<div
    id="container"
    class="border-indigo-600 border-2 rounded-lg p-4 backdrop-blur-xl bg-indigo-400/20 text-white w-fit hover:scale-105 hover:rotate-1 transition-all duration-300 cursor-default"
>
    <h2>{title}</h2>
</div>
