---
import { mode } from "../projects.js";
---

<div
    class="flex gap-10 font-mono text-xs items-center justify-center my-8 uppercase tracking-widest text-white"
>
    <button
        id="mode-serious"
        class="mode-btn transition-all duration-300 pb-1 border-b-2 border-transparent opacity-50 hover:opacity-100 cursor-pointer"
    >
        01_Serious
    </button>

    <span class="opacity-20">/</span>

    <button
        id="mode-fun"
        class="mode-btn transition-all duration-300 pb-1 border-b-2 border-transparent opacity-50 hover:opacity-100 cursor-pointer"
    >
        02_Fun
    </button>
</div>
<script>
    import { mode } from "../projects.js";
    document.addEventListener("astro:page-load", () => {
        const btnSerious = document.getElementById(
            "mode-serious",
        ) as HTMLButtonElement;
        const btnFun = document.getElementById("mode-fun") as HTMLButtonElement;

        function updateUI(currentMode: string) {
            if (currentMode === "serious") {
                btnSerious.classList.add(
                    "border-cyan-400",
                    "text-cyan-400",
                    "opacity-100",
                );
                btnSerious.classList.remove("border-transparent", "opacity-50");

                btnFun.classList.remove(
                    "border-cyan-400",
                    "text-cyan-400",
                    "opacity-100",
                );
                btnFun.classList.add("border-transparent", "opacity-50");
            } else {
                btnFun.classList.add(
                    "border-cyan-400",
                    "text-cyan-400",
                    "opacity-100",
                );
                btnFun.classList.remove("border-transparent", "opacity-50");

                btnSerious.classList.remove(
                    "border-cyan-400",
                    "text-cyan-400",
                    "opacity-100",
                );
                btnSerious.classList.add("border-transparent", "opacity-50");
            }
        }

        btnSerious.addEventListener("click", () => {
            mode.set("serious");
            updateUI("serious");
        });

        btnFun.addEventListener("click", () => {
            mode.set("fun");
            updateUI("fun");
        });

        updateUI(mode.get());
    });
</script>
