---
import DetailItem from "./DetailItem.astro";
import Tag from "./Tag.astro";
import ContactItem from "./ContactItem.astro";
---

<div id="container">
	<main>
		<div class="flex flex-col md:flex-row gap-8 items-center">
			<section id="hero">
				<h1>
					Hi there! I'm <span class="name">Eric</span>, a
					curious-by-nature and solid programmer.
				</h1>
				<p class="text-neutral-400">Quick details about me:</p>
				<div class="flex flex-col md:flex-row gap-4">
					<DetailItem title="Based in:" info="Tarragona, Spain ðŸ‡ªðŸ‡¸" />
					<DetailItem title="Age:" info="19 years" />
					<DetailItem
						title="Current dedication:"
						info="Full-time student at URV"
					/>
				</div>
				<p
					id="bio"
					class="border border-white border-1 p-4 rounded-lg text-white mt-5 text-xl"
				>
					I'm a thoughtful junior programmer who is passionate about
					finding new things to <span class="highlight">learn</span> and
					<span class="highlight">apply</span>, and perfectioning the
					ones that I already know. <br /> This is true wether I'm working
					on some project, getting new knowledge about my hobbies or just
					bored =).
					<br />
					<br />
					My hobbies include reading, some writing, playing videogames,
					sometimes cardistry and working on my side projects.
					<br />
					I'm currently studying at the Universitat Rovira i Virgili, coursing
					second year of a Computer Science degree.
				</p>
			</section>
			<ul
				class="flex flex-col gap-8 text-white border border-white border-1 p-4 rounded-lg h-fit"
			>
				<div class="flex flex-col gap-2">
					<li>Languages:</li>
					<ul class="inline-flex gap-2">
						<Tag tag="Python" />
						<Tag tag="JavaScript" />
						<Tag tag="TypeScript" />
						<Tag tag="C" />
						<Tag tag="Java" />
						<Tag tag="HTML" />
						<Tag tag="CSS" />
					</ul>
				</div>
				<div class="flex flex-col gap-2">
					<li>Frontend:</li>
					<ul class="inline-flex gap-2">
						<Tag tag="React" />
						<Tag tag="Astro" />
						<Tag tag="Next.js" />
					</ul>
				</div>
				<div class="flex flex-col gap-2">
					<li>Backend:</li>
					<ul class="inline-flex gap-2">
						<Tag tag="Node.js" />
						<Tag tag="MongoDB" />
						<Tag tag="Postman" />
						<Tag tag="FastAPI" />
					</ul>
				</div>
				<div class="flex flex-col gap-2">
					<li>Tools:</li>
					<ul class="inline-flex gap-2">
						<Tag tag="Git" />
						<Tag tag="Vercel" />
						<Tag tag="Docker" />
					</ul>
				</div>
			</ul>
		</div>
		<div class="flex flex-row gap-6 text-white text-xl">
			<button class="relative group p-2 hover:cursor-pointer">
				Check my portfolio
				<span
					class="absolute bottom-0 left-0 w-full h-[2px] bg-white transform scale-x-0 transition-transform duration-300 origin-center group-hover:scale-x-100"
				></span>
			</button>
			<button class="relative group p-2 hover:cursor-pointer">
				Give a look to my blog
				<span
					class="absolute bottom-0 left-0 w-full h-[2px] bg-white transform scale-x-0 transition-transform duration-300 origin-center group-hover:scale-x-100"
				></span>
			</button>
		</div>
		<section
			id="contact"
			class="flex flex-col gap-6 text-white bg-indigo-400/20 backdrop-blur-xl rounded-lg p-4"
		>
			<h1>Contact me</h1>
			<p>
				Do you have any questions, suggestions or offers? I'm looking
				forward for your message!
			</p>
			<div class="flex flex-col md:flex-row gap-8">
				<ContactItem
					title="Email âœ‰ï¸"
					info="irecgc@gmail.com"
					url="mailto:irecgc@gmail.com"
				/>
				<ContactItem
					title="GitHub ðŸ™"
					info="@nairec"
					url="https://github.com/nairec"
				/>
				<ContactItem
					title="LinkedIn â›“ï¸"
					info="Eric Garcia"
					url="https://linkedin.com/in/eric-recio"
				/>
				<ContactItem
					title="Twitter/X ðŸ¦"
					info="@PyNair"
					url="https://twitter.com/PyNair"
				/>
			</div>
		</section>
	</main>
</div>

<style>
	#container {
		font-family:
			Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
			sans-serif;
		height: 100%;
	}

	main {
		height: 105%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		padding: 16px 16px 16px 16px;
		gap: 16px;
	}

	h1 {
		font-size: 30px;
		margin-top: 0.25em;
		color: whitesmoke;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	.name {
		font-family:
			ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
			"DejaVu Sans Mono", monospace;
		font-weight: normal;
		color: #41d3ff;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#bio {
		width: 0;
		min-width: 100%;
	}

	.highlight {
		color: #41d3ff;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
