---
import DetailItem from "./DetailItem.astro";
import Tag from "./Tag.astro";
import { mode } from "../projects.js";
---

<div id="container">
    <main>
        <div
            class="flex flex-col gap-48 md:mt-15 w-full min-h-100vh align-center"
        >
            <section id="hero" class="mx-auto">
                <div class="flex flex-col gap-2">
                    <p class="text-[#BABABA]">Hi there! My name is</p>
                    <h1 class="name leading-none text-4xl md:text-6xl">
                        Eric Garcia.
                    </h1>
                    <h2 class="title leading-none text-3xl md:text-5xl">
                        I develop software solutions.
                    </h2>
                </div>
                <p class="bio max-w-prose mt-8">
                    I'm a thoughtful junior programmer who is passionate about
                    finding new things to <span class="highlight">learn</span> and
                    <span class="highlight">apply</span>, and perfectioning the
                    ones that I already know. <br /> This is true wether I'm working
                    on some project, getting new knowledge about my hobbies or just
                    bored =).
                </p>
                <div class="flex flex-row gap-6 highlight text-xl mt-12">
                    <a
                        class="relative group p-2 hover:cursor-pointer group text-center inline-block border border-s-cyan-600 hover:bg-cyan-800/30 transition-colors"
                        href="mailto:irecgc@gmail.com"
                    >
                        Contact me
                    </a>
                </div>
                <div
                    id="socialTags"
                    class="relative flex flex-wrap gap-3 text-[#BABABA] mt-12"
                >
                    <a
                        href="https://github.com/nairec"
                        target="_blank"
                        aria-label="github"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            id="git-logo"
                            class="link-icon"
                            fill="currentColor"
                            viewBox="0 0 256 256"
                            ><path
                                d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                            ></path></svg
                        ></a
                    >
                    <a
                        href="https://linkedin.com/in/eric-garcia-cano"
                        target="_blank"
                        aria-label="linkedin"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            id="linkedIn-logo"
                            class="link-icon"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path d="M8 11v5"></path><path d="M8 8v.01"
                            ></path><path d="M12 16v-5"></path><path
                                d="M16 16v-3a2 2 0 1 0 -4 0"></path><path
                                d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4l0 -10"
                            ></path></svg
                        ></a
                    >
                    <a
                        href="https://x.com/PyNair"
                        target="_blank"
                        aria-label="twitter"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="link-icon"
                            id="twitter-logo"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M4 4l11.733 16h4.267l-11.733 -16l-4.267 0"
                            ></path><path
                                d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"
                            ></path></svg
                        ></a
                    >
                </div>
            </section>
            <section
                id="stack"
                class="mx-auto flex flex-col max-w-3xl w-full p-2"
            >
                <h2
                    id="stack-header"
                    class="relative place-self-center md:place-self-end text-5xl text-[#BABABA]"
                >
                    My Stack
                </h2>
                
            </section>
        </div>
    </main>
</div>

<style>
    #container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 50px;
        padding-bottom: 50px;
    }

    #hero {
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 16px 16px 16px 16px;
    }

    .name {
        font-family:
            "Cascadia Code", "Source Code Pro", Menlo, Consolas,
            "DejaVu Sans Mono", monospace;
        font-weight: 500;
        color: #41d3ff;
        margin: 0;
    }

    .title {
        font-family:
            "Cascadia Code", "Source Code Pro", Menlo, Consolas,
            "DejaVu Sans Mono", monospace;
        font-weight: 500;
        color: #bababa;
        margin: 0;
    }

    .bio {
        font-family:
            "Cascadia Code", "Source Code Pro", Menlo, Consolas,
            "DejaVu Sans Mono", monospace;
        color: #989898;
        margin: 0;
        font-size: 1em;
        margin-top: 2rem;
    }

    #socialTags::after {
        content: "";
        position: absolute;
        bottom: 1rem;
        left: 120%;
        display: block;
        width: 100%;
        height: 1px;
        background: #bababa;
    }

    /*#stack-header::after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 105%;
        display: block;
        width: 38rem;
        height: 1px;
        background: #bababa;
        }*/

    .box {
        padding: 16px;
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
        border: 1px solid white;
    }

    #bio {
        width: 0;
        min-width: 100%;
    }

    .highlight {
        color: #41d3ff;
    }

    .link-icon {
        width: 2rem;
        height: 2rem;
        transition: all ease-in-out 0.2s;
    }

    #git-logo:hover {
        color: rgb(188, 82, 238);
        filter: drop-shadow(2px 4px 2px rgb(131, 57, 165));
    }

    #linkedIn-logo:hover {
        color: rgb(10, 102, 194);
        filter: drop-shadow(2px 4px 2px rgb(7, 75, 143));
    }

    #twitter-logo:hover {
        color: rgb(29, 161, 242);
        filter: drop-shadow(2px 4px 2px rgb(19, 107, 161));
    }

    #email-logo:hover {
        color: rgb(172, 42, 19);
        filter: drop-shadow(1px 1px 2px rgb(172, 42, 19));
    }

    @media screen and (max-width: 768px) {
        #container {
            display: flex;
            flex-direction: column;
        }

        #hero {
            display: block;
            padding-top: 10%;
        }

        #links {
            flex-wrap: wrap;
        }

        #links a.button {
            padding: 14px 18px;
        }

        h1 {
            line-height: 1.5;
        }

        .link-icon {
            width: 2rem;
            height: 2rem;
        }
    }
</style>
